body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


[data-theme="dark"] {
  --color-background: hsl(0, 0%, 10%);
  --color-accent: hsl(0, 0%, 15%);
  --color-text: hsl(0, 0%, 75%);
  --color-text-invert: hsl(0, 0%, 10%);
  --color-primary: hsl(124, 40%, 45%);
  --color-border: hsl(0, 0%, 20%);
}

[data-theme="light"] {
  --color-background: hsl(0, 0%, 100%);
  --color-accent: hsl(0, 0%, 95%);
  --color-text: hsl(0, 0%, 10%);
  --color-text-invert: hsl(0, 0%, 90%);
  --color-primary: hsl(124, 45%, 45%);
  --color-border: hsl(0, 0%, 70%);
}



body {
  background-color: var(--color-background);
  color: var(--color-text);
  width: 500px;
  height: 500px;
}
:root {
  height: 100%;
  width: 100%;
}

.theme-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 4;
}

.theme-button p {
  color: var(--color-text-invert);
  margin: 0.2rem;
}

.countdown {
  text-align: center;
  justify-items: center;
  align-items: center;
  position: relative;
  padding: 50px;
  border-radius: 8px;
  border: 1px solid var(--color-border);
}

.countdown div h3 {
  margin: 20px;
  font-size: 1rem;
}



h1, h2, h3, h4, h5, h6, p, text {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-text);
}

.container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  border-radius: 8px;
  background-color: var(--color-accent);
  border: 1px solid var(--color-border);
  padding:0.5rem;
}

.ui-button {
  border: 1px solid var(--color-border);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: var(--color-text-invert);
  box-shadow: hsl(0, 0%, 5%) 0px 4px 6px -1px, hsl(0, 0%, 5%) 0px 2px 4px -1px;
}

.sidebar {
  border: 1px solid var(--color-border);
  z-index: 2;
  visibility: hidden;
  position: fixed;
  left: 1em; 
  top: 1em;
  height: calc(100vh - 2em);
  background-color: var(--color-accent);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: calc(100vw - 2em);  
}

.input-calendar {
  border: 1px solid var(--color-border);
  background-color: var(--color-accent);
  position: absolute;
  top: 115%;
  right: calc(50% - 100px);
  width: 200px;
  overflow: hidden;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.react-calendar {
  justify-items: center;
}

.react-calendar button {
  cursor: pointer;
  background-color: transparent;
  color: var(--color-text);
  border: 0px;
  padding: 0.5em;
}

.react-calendar button:hover {
  background-color: var(--color-primary);
  color: var(--color-text-invert)
} 

.activity-element {
  display: grid;
  grid-template-columns: 3fr 5fr 2fr;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.activity-element:hover {
  background-color: hsl(from var(--color-background) H S L /80%);
}

.scrollable {
  overflow: auto; 
}

.scrollable::-webkit-scrollbar {
  width: 0px;              
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #888;   
  border-radius: 4px;       
}

.scrollable::-webkit-scrollbar-track {
  background: transparent;
}

.create-activity-tooltip {
  visibility: hidden;
  position: absolute;
  left: calc(50% - 15em);
  top: calc(100% + 2em);
  display: flex;
  min-width: 15em;
  flex-direction: column;
  background:var(--color-accent);
  border-radius: 8px;
  border: 1px solid var(--color-border);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 1em;
  gap: 1em;
}



